<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.theveganrobot.cvcamera" android:versionCode="7" android:versionName="7.0"
	>
	<application android:debuggable="false" android:icon="@drawable/icon">
		<activity android:name=".CVCamera" android:screenOrientation="landscape"
			android:configChanges="orientation|keyboardHidden|keyboard"
			android:label="@string/app_name"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>



	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>
	<uses-feature android:name="android.hardware.camera" android:required="true"/>

	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	 


	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 