# Ignore everything
*

# But not these files...
!.gitignore
!test_matcher.py
!test_stitcher.py
!test_megapix_scaler.py
!test_registration.py
!test_composition.py
!test_performance.py
!stitching_detailed.py
!SAMPLE_IMAGES_TO_DOWNLOAD.txt