/*Global*/
h1 {
    font-size: 36px;
    font-family: 'Segoe UI Light';
    color: #707070;
    font-weight: normal;
    margin-bottom: 17px !important;
}

h2, h3, h4, h5, h6, #searchPage h3 {
    font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif !important;
    font-weight:normal;
    color: #2A2A2A !important;
}

a, a:link, a:visited {
    color: #0095c4;
}

body {
    color:#707070;
}

.profile-usercard {
    color:#707070 !important;
}

/*temporary setting to override msdn_windows.css
can remove once conflicting settings are removed from that file*/


.LocalNavigation, .LocalNavigation .TabOn, .LocalNavigation .TabOn:hover, .LocalNavigation .TabOff, .LocalNavigation .TabOff a:hover {
    display: block;
    background-color:transparent !important;
    color: #0095c4;
}

.LocalNavigation .TabOff a {
color:#707070 ;
}

/*End Global*/

.EyebrowContainer 
{
    margin-bottom: 0 !important;
}

#sideNav
{
    width: 215px !important;
}

#searchPage #mainContentContainer
{
    margin-right:0 !important;
    margin-left:243px !important;
}

#searchPage .dirSubHeading h2 
{
    font-size: 14px !important;
    font-weight: normal !important;
    color: #454545 !important;
    line-height: 1.45;
}

#searchPage #directoryListFooter, #searchPage #Pager {
    font-size: 14px;
}

#searchPage h2, #searchPage h3
{
    font-size: 1.25em  !important;
}

#sideNav #contributeSection h3, .sidebar #contributeSection h3, #contributeSection h3
{
    font-size: 1.65em !important;
}

.subMenu > h2
{
    font-family: 'Segoe UI Light','Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif !important;
    font-weight:normal;
    font-size:30px;
    margin: 15px 10px 5px 0;
    padding-bottom:0px;
}

.itemRow {
}
    .itemRow .itemBody, .itemRow .itemInfo {
        padding: 18px 17px 20px 0;
         font-size: 14px;
         line-height: 1.45em;
    }

    .itemRow .itemTitle {
        font-weight: normal;
    }

    .itemRow .summaryBox{
        color: #454545;
    }

    .Samples #MainContent .itemRow .itemTitle a {
        font-weight: 600 !important;
        line-height: 1.45;
    }
    #MainContent a.officialMicrosoftLabel
    {
        color: #ACACAC;
    }


.tabContents {
    border-top-width:0px;
}
   
#UploadPage {
    margin: 0px 0px 0px 10px;
}
    #UploadPage h1 {
        padding: 0;
        font-size: 22px;
    }
    #UploadPage h2 {
        color:#F39700 !important;
    }

    #UploadPage #uploadPageInstruction {
        margin-top:10px;
    }
        
    #UploadPage fieldset {
        margin-left:0px;
    }

    #UploadPage fieldset h2 {
        font-weight:normal;
    }

    #UploadPage fieldset#uploadsForm{
        margin-top:25px;
    }
    
    #UploadPage fieldset#summary textarea {
        margin-left:0px;
    }

    #UploadPage .projectTypeChoice > div {
        height: 250px;
    }

#sideNav {
}

    #sideNav .section h3 {
        background-color: transparent;

    }

    #sideNav .section UL LI {
        border-bottom-width: 0px;
    }

    #sideNav .section form > div {
        border-bottom: none;
        color: #707070;
    }
        #sideNav .section ul li > div.itemCount
        {
            color: #707070;
        }


#searchPage {
}

    #searchPage h2, #searchPage h3 {
        text-transform:none;
        background-color:transparent;
        font-weight:normal;
        font-size:1.2em;
    }

    #searchPage .browseFilterBar {
        background-color:transparent;
        border-width:0px;
        font-weight:normal;
    }

#requestsPage {
    padding-top:15px;
}
    #requestsPage .tabHeaders {
        overflow: visible;
    }

    #requestsPage #requestsList {
        border: none;
    }


    #requestsPage h2, #requestsPage h3 {
        text-transform:none;
        background-color:transparent;
        font-weight:normal;
        font-size:1.2em;
    }

    .reqBrowseContent .title {
        font-weight: bold !important;
        color:#000 !important;
        font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif !important;
    }

    .reqDescPage #header #votenumber {
        height: 30px;
        padding: 9px 12px 3px 12px;
    }

#extraActions {
}
    #extraActions .section
    {
        margin-bottom: 10px;
    }
    #extraActions .section a
    {
        font-weight:normal;
    }

    #extraActions #contributeSection div img {
        width:0px;
    }



#projectPage {
}

    #projectPage .projectTitle {
        color: #707070;
        margin: 5px 0px 15px 0px;
    }

    #projectPage h2.projectSummary, #projectPage #projectInfo, #projectPage .tabHeaders {
        font-size: 14px !important;
        line-height: 1.45em;
        color: #454545 !important;
        font-weight: normal !important;
    }

    #projectPage #projectInfo a {
        color: #00749e;
    }

    #projectPage #Downloads a, #projectPage #Downloads label {
        font-size: 14px;
    }

    #projectPage #reportAbuse {
        font-size: 1em;
    }

    #projectPage #publishBar a, #projectPage #publishBar a:visited {
        color: #0095c4;
        font-weight: normal;
    }

    #projectPage #Collections .bevelButton{
        background-color: #F8F8F8;
        color: #0095C4;
        border: 1px solid #707070;
    }

    #projectPage #DiscussionsTabPane .threadHeader .title {
        font-weight:bold !important;
        color:Black !important;#F8F8F8;
        font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif !important;
    }

    #projectPage .sidebar .section .titleBar h3 {
        font-weight:normal;
        font-size:1.2em;
    }

#LocalNav {
}

    #LocalNav.HeaderTabs {
        margin-left:11px;
    }


#searchPage .dirSubHeading h1
{
    margin-bottom:17px !important;
}


