# ignore dot files/directories
.*
!.gitignore

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
node_modules
results
CMakeSettings.json
xcuserdata/

test_local
*-*-2023*.yaml
undistorted_*.png
samples/python/*.png