.git*       export-ignore

*           text=auto whitespace=trailing-space,space-before-tab,-indent-with-non-tab,tab-in-indent,tabwidth=4

*.py        text
*.cpp       text
*.hpp       text
*.cxx       text
*.hxx       text
*.mm        text
*.c         text
*.h         text
*.i         text
*.js        text
*.java      text
*.scala     text
*.cu        text
*.cl        text
*.css_t     text
*.qrc       text
*.qss       text
*.S         text
*.rst       text
*.tex       text
*.sty       text

*.aidl      text
*.mk        text

*.cmake         text whitespace=tabwidth=2
*.cmakein       text whitespace=tabwidth=2
*.in            text whitespace=tabwidth=2
CMakeLists.txt  text whitespace=tabwidth=2

*.png       binary
*.jepg      binary
*.jpg       binary
*.exr       binary
*.ico       binary

*.a         binary
*.so        binary
*.dll       binary
*.jar       binary

*.pdf       binary
*.pbxproj   binary
*.vec       binary
*.doc       binary

*.xml                      -text whitespace=cr-at-eol
*.yml                      -text whitespace=cr-at-eol
.project                   -text whitespace=cr-at-eol merge=union
.classpath                 -text whitespace=cr-at-eol merge=union
.cproject                  -text whitespace=cr-at-eol merge=union
org.eclipse.jdt.core.prefs -text whitespace=cr-at-eol merge=union

*.vcproj    text eol=crlf merge=union
*.bat       text eol=crlf
*.cmd       text eol=crlf
*.cmd.tmpl  text eol=crlf

*.sh        text eol=lf