# ignore dot files/directories
.*
!.gitignore

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
doc/CMakeFiles/CMakeDirectoryInformation.cmake
CMakeCache.txt
CMakeFiles/cmake.check_cache
doc/cmake_install.cmake
doc/CMakeCache.txt
doc/Makefile
doc/CMakeFiles/cmake.check_cache
doc/CMakeFiles/feature_tests.bin
doc/CMakeFiles/feature_tests.c
doc/CMakeFiles/feature_tests.cxx
doc/CMakeFiles/Makefile.cmake
doc/CMakeFiles/Makefile2
doc/CMakeFiles/progress.marks
doc/CMakeFiles/TargetDirectories.txt
doc/CMakeFiles/3.14.3/CMakeCCompiler.cmake
doc/CMakeFiles/3.14.3/CMakeCXXCompiler.cmake
doc/CMakeFiles/3.14.3/CMakeDetermineCompilerABI_C.bin
doc/CMakeFiles/3.14.3/CMakeDetermineCompilerABI_CXX.bin
doc/CMakeFiles/3.14.3/CMakeSystem.cmake
doc/CMakeFiles/3.14.3/CompilerIdC/a.out
doc/CMakeFiles/3.14.3/CompilerIdC/CMakeCCompilerId.c
doc/CMakeFiles/3.14.3/CompilerIdCXX/a.out
doc/CMakeFiles/3.14.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
