accessible-pygments==0.0.5
alabaster==1.0.0
anyio==4.13.0
babel==2.18.0
beautifulsoup4==4.14.3
breathe==4.36.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.4.0
colorama==0.4.6
docutils==0.21.2
exceptiongroup==1.3.1
exhale==0.3.7
h11==0.16.0
idna==3.15
imagesize==2.0.0
Jinja2==3.1.6
lxml==6.1.1
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdit-py-plugins==0.6.1
mdurl==0.1.2
myst-parser==4.0.1
packaging==26.0
pydata-sphinx-theme==0.17.1
Pygments==2.20.0
PyYAML==6.0.3
requests==2.34.2
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.8.3
Sphinx==8.1.3
sphinx-autobuild==2024.10.3
sphinx_design==0.6.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
starlette==1.0.0
tomli==2.4.1
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.47.0
watchfiles==1.2.0
websockets==16.0
