body, div, p {
    font: 400 14px/22px Roboto,sans-serif;
}
canvas, img {
    border: 1px solid black;
}
.err {
    color: red;
    font-weight: bold;
}
.inputoutput {
    margin-top: 1em;
    margin-bottom: 1em;
}
.caption {
    margin: 0;
    font-weight: bold;
}
.code {
    padding: 4px 6px;
    margin: 4px 8px 4px 2px;
    background-color: #FBFCFD;
    border: 1px solid #C4CFE5;
    font-family: monospace, fixed;
    font-size: 13px;
    min-height: 13px;
    line-height: 1.0;
    text-wrap: unrestricted;
    padding-bottom: 0px;
    margin: 0px;
}